
body {
    background-color: #C8C6D7;
    font-family: 'poppins', sans-serif;
}
.container {
    margin-top: 50px;
    max-width: 600px;
}
.card {
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 15px;
}
#output {
    margin-top: 20px;
    white-space: pre-wrap;
    background-color: #C59CD3;
    padding: 15px;
    border-radius: 5px;
}
h2{
    color: #4A4063;
}
#calcBtn {
    background-color: rgb(120, 100, 200); 
    color: white;                      
}
